.custom-overlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  float: left;
  border: 0;
  box-shadow: 0px 1px 2px #888;
  transition: none;
}
.custom-overlay * {
  transition: none;
}

.custom-overlay .custom-overlay-content {
  border-radius: 6px;
  overflow: hidden;
  background: #005ea0 url("/public/resources/images/arrow_white.png");
  background-repeat: no-repeat;
  background-position: right 14px center;
  cursor: pointer;
  position: relative;
}

.custom-overlay-active .custom-overlay-content .reserve-able-title,
.custom-overlay-active .custom-overlay-content:hover .reserve-able-title {
  background-color: #ed6c02 !important;
  color: #fff !important;
}

.custom-overlay .custom-overlay-content:hover .reserve-able-title {
  background-color: #008bea;
  color: #fff;
}

.custom-overlay .custom-overlay-content .reserve-able-title {
  color: #000;
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: color, background-color 0.3s;
}

.custom-overlay .reserve-able-title:after {
  z-index: -1;
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("/public/resources/images/reserve_arrow.png");
}

.custom-overlay-active {
  z-index: 1000;
}
